// General
$background: #3a3a3a;
$primary: #48c77d;
$primary-hover: #2aa95f;
$alpha-primary: #48c77dcc;
$secondary: #6c757d;
$secondary-hover: #5a6268;
$alpha-secondary: #6c757dcc;

$main-transition-effect: 0.3s all;
$link-hover: #fff;

// Fonts
$main-font: 'Roboto';
$main-font-color: #f5f5f5;
$logo-font-size: 1.25em;
$footer-font-color: rgba(255, 255, 255, .4);

// Structures
$header-background: #333;
$nav-background: rgb(73, 73, 73);

// Classes
$class-marauder-color: #ff8175;
$class-ranger-color: #7bcf80;
$class-witch-color: #949fe0;
$class-duelist-color: #fff59e;
$class-shadow-color: #46b98d;
$class-templar-color: #f7b0f7;
$class-scion-color: #fff;

// Forms
$form-field-padding: 0.35rem 0.75rem;
$default-border-radius: 0.25rem;